Django == 5.1.*
uwsgi
django-constance[database]
django-admin-sortable2
djangorestframework
# django-rest-auth
# dj-rest-auth 
dj-rest-auth[jwt]
django-admin-decorators
drf-generators
requests
fake-useragent
lxml
beautifulsoup4
wordfreq
jellyfish
nltk
coloredlogs
