{% extends "admin/base_site.html" %}
{% load static i18n %}

{% block title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_cor.css' %}" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <!-- These scripts are probably already included in the admin, 
         but you can explicitly load them if you still need them: -->
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/admin.js' %}"></script>
{% endblock %}

{% block welcome-msg %}
    {% trans "Welcome," %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

