{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_cor.css' %}" />

{% endblock %}


{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

  <script type="text/javascript" src="{% static 'admin/js/admin.js' %}"></script>
{% endblock %}


{% block welcome-msg %}
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
